<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Follow us on social media:</span>
        </div>
        <div>
            <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-trophy"></i> TurfBooking</h6>
                    <p>
                        TurfBooking is your go-to platform for booking sports turfs and grounds for outdoor activities.
                        Discover a wide range of turfs available for cricket, football, tennis, and more.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Explore</h6>
                    <p><a href="#!" class="text-reset">Home</a></p>
                    <p><a href="#!" class="text-reset">About Us</a></p>
                    <p><a href="#!" class="text-reset">Contact Us</a></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Resources</h6>
                    <p><a href="#!" class="text-reset">FAQ</a></p>
                    <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
                    <p><a href="#!" class="text-reset">Privacy Policy</a></p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Connect</h6>
                    <p><i class="fa fa-envelope"></i> info@turfbooking.com</p>
                    <p><i class="fa fa-phone"></i> +1 (123) 456-7890</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4">
        &copy; 2021 TurfBooking. All rights reserved.
    </div>
</footer>
